{
  "serverName": "ACC Community Dedicated Server [AdminPanel]",
  "adminPassword": "change_this_admin_password",
  "carGroup": "FreeForAll",
  "trackMedalsRequirement": 0,
  "safetyRatingRequirement": -1,
  "racecraftRatingRequirement": -1,
  "password": "",
  "spectatorPassword": "",
  "maxCarSlots": 24,
  "dumpLeaderboards": 1,
  "isAvailableForConnect": 1,
  "centralEntryListPath": ""
}
