{
  "serverName": "ACC Dedicated Server",
  "adminPassword": "your_admin_password_here",

  "carGroup": "FreeForAll",
  "trackMedalsRequirement": 0,
  "safetyRatingRequirement": -1,
  "racecraftRatingRequirement": -1,
  "password": "",
  "spectatorPassword": "",
  "maxCarSlots": 24,
  "dumpLeaderboards": 1,
  "isAvailableForConnect": 1,
  "centralEntryListPath": ""
}
